.pcard {
    position: relative;
    width: 350px;
    height: 466px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: azure;
    transition: transform 0.3s ease-in-out;
  }
  
  .pcard:hover {
    transform: scale(1.05);
  }
  
  .pcard-img img {
    position: relative;
    height: 13rem;
    width: 100%;
  }
  
  .pcard-info {
    position: relative;
    width: 100%;
    text-align: center;
    top: -10px;
    justify-content: space-around;
  }
  
  .pcard-info p {
    position: relative;
    font-size: 14px;
    font-weight: 400;
    padding: 1rem;
    top: -22px;
  }
  
  .pcard-info h4 {
    margin-top: -2.5rem;
    padding: 0;
    height: fit-content;
  }
  
  .read-more {
    color: #C11574;
    font-weight: 600;
    margin-top: -0.5rem;
    margin-left: 1rem;
    text-decoration: none;
  }
  
  .buy-now {
    color: #6941C6;
    text-decoration: none;
    font-weight: 600;
    margin-top: -122px;
  }
  
  .links {
    margin-top: -1.5rem;
    margin-left: 6rem;
  }
  