/* App.css */
.navbar {
    background-color: #E9ECEF;
    display: flex;
    align-items: center;
    padding: 1rem;
  }
  
  .navbar-logo img {
    width: 50px; /* Adjust the size as needed */
    height: auto;
    margin-right: 1rem;
  }
  
  .navbar-nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin: 0;
  }
  
  .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #333;
    text-decoration: none;
    font-weight: normal;
  }
  
  .nav-link:hover {
    background-color: #ddd;
    color: #333;
  }
  
  .bold {
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .navbar-nav {
      flex-direction: column;
    }
  
    .nav-link {
      text-align: center;
    }
  }
  