.review-slider {
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
}

.Review-header {
  font-size: 42px;
  color: white;
  text-align: center;
  font-weight: 400;
}

.Review-header p {
  font-weight: 100;
  padding: 0;
  margin-block: auto;
}

.slick-prev:before,
.slick-next:before {
  color: #ffffff;
}

@media (max-width: 768px) {
  .Review-header {
    font-size: 32px;
  }

  .review-slider {
    width: 100%; /* Ensure the slider takes the full width */
  }
}
